<h1>{{ titulo }}</h1>
<h3>Cadastrar alguma coisa</h3>
<form method="POST" action="teste/cadastrar">
    <input type="text" name="nome">
    <input type="text" name="sobrenome">
    <input type="text" name="email">
    <button type="submit">Enviar</button>
</form>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">